* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: "Raleway", sans-serif;
}
/*HEADER*/
.hero {
	background-image: linear-gradient(
			120deg,
			rgba(51, 8, 103, 0.692) 0%,
			rgba(48, 208, 208, 0.699) 100%
		),
		url(img/banneruniverso.jpg);
	width: 100%;
	height: 650px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
}

.textos-hero {
	height: 500px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.textos-hero h1 {
	font-size: 60px;
}

.textos-hero p {
	font-size: 25px;
	margin-bottom: 20px;
}

.textos-hero a {
	display: inline-block;
	text-decoration: none;
	padding: 12px 15px;
	background: #bd93f5;
	border-radius: 8px;
	color: #fff;
}

.svg-hero {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/*Estilos generales*/
.contenedor,
.wave-contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding: 0 0 80px 0;
	overflow: hidden;
}
.contenedor {
	padding: 80px 0;
}

.titulo {
	font-weight: 300;
	font-size: 35px;
	text-align: center;
	margin-bottom: 30px;
}

.titulo.left {
	text-align: left;
}
.titulo.right {
	text-align: right;
}

/*SECTION*/
.website {
	display: flex;
	justify-content: space-between;
}

.website img {
	width: 45%;
}

.website .contenedor-textos-main {
	width: 40%;
}

.parrafo {
	text-align: justify;
	margin-bottom: 20px;
}

.cta {
	display: inline-block;
	text-decoration: none;
	background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
	padding: 12px 15px;
	border-radius: 8px;
	color: #fff;
}

/*Info*/

.info {
	background: #00ced1;
	color: #fff;
}

/*NUESTROS SERVICIO | Cards*/
.content-cards {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 1px;
}
.card {
	width: 30%;
	text-align: center;
	height: 320px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
	transform: scale(1);
	transition: transform 0.6s;
	margin-bottom: 5%;
}
.card:hover {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
	transform: scale(1.03);
	cursor: pointer;
}

.card i {
	margin: 30px 0 20px 0;
	color: #1e90ff;
	font-size: 50px;
}

.card p {
	font-size: 17px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 15px;
}
.card ul {
	text-align: left;
	padding-left: 30px;
}

/*Portafolio*/
.portafolio {
	background: #f2f2f2;
}
.portafolio-cont {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow: hidden;
}

.portafolio-cont > img {
	width: 30%;
	object-fit: cover;
	display: block;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	overflow: hidden;
}

/*Info 2*/
.last-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 40px;
}

.last-section .contenedor-textos-main {
	width: 40%;
}

/*----CONTACTÃNOS-----*/
.container img {
	display: flex;
	width: 46%;
}
/*Subtitle :)*/
.subtitleSection {
	font-size: 0.7rem;
	color: hsl(0, 0%, 6%);
	text-align: center;
	margin-top: 3%;
	margin-bottom: 0;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.section__title {
	background: #00ced1;
	color: #fff;
	font-size: 2.5rem;
	/* color: hsl(174, 12%, 15%); */
	text-align: center;
	margin-top: 2%;
	margin-bottom: 1.5rem;
}

/*General*/
.contact__container {
	display: flex;
	justify-content: center;
	padding-bottom: 3rem;
}

.contact__title {
	font-family: "Raleway", sans-serif;
	text-align: center;
	font-size: 1.6rem;
	margin-bottom: 1.6rem;
	margin-top: 1rem;
}

.contact__info {
	display: flex;
	gap: 2rem;
}

/*HABLA CON NOSOTROS |CARDS INFO*/
.waycontactTitle {
	padding-top: 10%;
	padding-bottom: 5%;
}
.contact__card {
	background-color: rgb(248, 248, 248);
	padding: 1rem;
	border-radius: 0.75rem;
	text-align: center;
	-webkit-box-shadow: 0px 6px 0px -3px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 6px 0px -3px rgba(0, 0, 0, 0.11);
	width: 100%;
}
.contact__card-icon {
	font-size: 3rem;
	color: hsl(174, 12%, 15%);
	margin-bottom: 0.25rem;
}
.contact__card-title,
.contact__card-data {
	font-size: 1rem;
}
.contact__card-title {
	font-weight: 700;
}
.contact__card-data {
	display: block;
	margin-bottom: 0.75rem;
}
/*Contact button*/
.contact__button {
	color: hsl(174, 63%, 40%);
	font-size: 1.1rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.25rem;
	transition: 0.3s;
}
.contact__button:hover {
	color: rgb(34, 145, 133);
	font-weight: bold;
}
.contact__button:hover .contact__button-icon {
	transform: translateX(0.5rem);
}
.contact__button-icon {
	font-size: 2rem;
	transition: 0.4s;
}
/*FORMULARIO*/
.contact__content form {
	display: flex;
	flex-direction: column;
	margin: 50px 70% 0 0px;
}
.contact__content img {
	height: 45%;
	margin-top: 2%;
}
.contact__form-div {
	position: relative;
	margin-bottom: 2rem;
	height: 4rem;
	background: none;
}
.contact__form-input {
	background: none;
	border: 1px solid hsl(174, 8%, 35%);
	border-radius: 0.5rem;
	position: relative;
	top: 0;
	left: 50%;
	width: 320%;
	height: 80%;
	font-size: 1.14rem;
	font-family: "Raleway", sans-serif;
	outline: none;
	padding: 1rem;
	z-index: 1;
	color: hsl(174, 12%, 15%);
}
.contact__form-tag {
	position: absolute;
	left: 1rem;
	top: 1rem;
	padding: 0 0.25rem;
	background-color: hsl(174, 100%, 99%);
	color: #686868;
	font-size: 1.14rem;
	transition: 0.2s;
}
.contact__form-input:focus + .contact__form-tag {
	top: -0.5rem;
	left: 0.8rem;
	color: rgb(34, 145, 133);
	font-size: 0.675rem;
	font-weight: 500;
	z-index: 10;
}
.contact__form-input:not(:placeholder-shown).contact__form-input:not(:focus)
	+ .contact__form-tag {
	top: -0.5rem;
	left: 50%;
	font-size: 0.675rem;
	font-weight: 500;
	z-index: 10;
	color: hsl(174, 8%, 35%);
	border-radius: 10px;
}
.contact__form-input:focus {
	border: 1.5px solid rgb(34, 145, 133);
}
/*Form textarea*/
.contact__form-area {
	height: 13rem;
}
.contact__form-area,
textarea {
	resize: none;
}
.button {
	background-color: hsla(230, 90%, 59%, 0.87);
	display: flex;
	font-size: 1.4rem;
	width: 100%;
	height: 50px;
	margin: 2px;
	padding: 0 10px;
	align-items: center;
	color: #fff;
	border-radius: 10px;
	border-style: none;
	box-shadow: 0px 5px 5px rgb(0, 43, 255 /50%);
	cursor: pointer;
}

/*=============== FOOTER SECTION ===============*/
footer {
	background-image: linear-gradient(
			120deg,
			rgba(51, 8, 103, 0.692) 0%,
			rgba(48, 208, 208, 0.699) 100%
		),
		url(/img/pluma.png);
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	position: relative;
	overflow: hidden;
}
.textos-footer {
	height: 400px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0 8rem;
}

.textos-footer h2 {
	font-size: 40px;
	margin-top: 30px;
}

.textos-footer p {
	font-size: 24px;
	margin-bottom: 20px;
	color: #fff;
}

.footer__social {
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.footer__social-link {
	color: hsl(173, 64%, 95%);
	padding: 0.9rem;
	font-size: 2.6rem;
	display: inline-flex;
	margin-bottom: 3rem;
	transition: 0.3s;
}

.fs11:hover {
	color: #c13584;
}
.footer__rights {
	display: flex;
	color: hsl(240, 47%, 96%);
	font-size: 0.8rem;
}
/*MEDIAS QUERIES*/
@media screen and (max-width: 800px) {
	.textos-hero h1 {
		text-align: center;
		font-size: 50px;
	}
	/* ESTILOS GENERALES */
	.titulo {
		font-size: 35px;
	}

	.titulo.left {
		text-align: center;
	}

	.info p {
		text-align: center;
	}

	/*SECTION */
	.website {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.website img {
		width: 100%;
	}
	.website .contenedor-textos-main {
		width: 100%;
	}

	/*CARDS*/
	.card {
		width: 90%;
		margin-bottom: 20px;
	}

	/*Portafolio*/
	.portafolio-cont > img {
		width: 48%;
	}

	/*last*/
	.last-section img {
		width: 98%;
	}
	.last-section .contenedor-textos-main {
		width: 98%;
		margin-bottom: 30px;
	}
	.contact__form-input {
		width: 120%;
		margin-right: 50%;
	}
	.contact__form button {
		width: 50%;
		margin-left: 50%;
	}
}

@media screen and (max-width: 480px) {
	.titulo,
	.textos-hero h1 {
		font-size: 30px;
	}

	.textos-hero p {
		font-size: 20px;
		text-align: center;
	}

	.card {
		height: 455px;
	}
	.website .contenedor-textos-main {
		margin-bottom: 30px;
	}
	.portafolio-cont > img {
		width: 97%;
	}
	.contact__form {
		width: 80%;
	}
	.formSubmit {
		width: 30%;
	}
	.contact__form-input {
		width: 100%;
		margin-right: 40%;
	}
	.contact__form button {
		width: 30%;
		margin-left: 50%;
	}
}
